@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=MuseoModerno:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif, Arial;
}


/* headings and logo */

#logo {
    font-family: MuseoModerno, Montserrat, Arial;
    letter-spacing: 4px;
    color: olivedrab;
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* landing image and cover text */

#landing-image {
    height: 600px;
    width: 100%;
    background: url('../images/landing-image.jpg') no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text {
    color: #fff;
    background-color: rgba(107, 142, 35, .5);

    font-size: 130%;
    font-family: Montserrat, sans-serif, Arial;;
    letter-spacing: 4px;
    text-align: center;

    width: 500px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    border-radius: 15%;

    bottom: 350px;
    right: 200px;

    position: absolute;
}
