@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=MuseoModerno:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif, Arial;
}

header {
    height: 75px;
}

.center-text {
    text-align: center;
}

.width50 {
    width: 50%;
}

.padding25 {
    padding: 25px;
}

.padding50 {
    padding: 50px 25px 25px;
}

.margin-auto {
    margin: 0 auto;
}

/* logo */
#logo {
    font-family: MuseoModerno, Montserrat, Arial;
    letter-spacing: 4px;
    color: olivedrab;
    float: left;
    font-size: 280%;
    margin-left: 10%;
}

/* nav links */
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 10%
}

#menu, #logo {
    line-height: 75px;
}

#menu ul{
    float: right;
}

#menu li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* landing image section */
#landing-image {
    height: 600px;
    background: url('../images/landing-image.jpg') no-repeat center center;
    overflow: hidden;
    position: relative;
}

#cover-text {
    color: #fff;
    background-color: rgba(107, 142, 35, .5);
    font-size: 130%;
    letter-spacing: 4px;

    width: 500px;
    height: 150px;
    border-radius: 20px;

    bottom: 75px;
    right: 200px;
    position: absolute;
}

/* why future fuels section */
p {
    font-size: 20px;
    line-height: 30px;
}

/* good fuel icons section */
#good-fuel {
    display: flex;
    flex-direction: column;
}

.fuels-flex-box {
    display: flex;
    flex-wrap: wrap;
}

.icon-box {
    color: #3a3a3a;
    width: 33%;
    height: 150px;
    box-sizing: border-box;
}

#good-fuel i {
    color:rgb(107, 142, 35);
    font-size: 200%;
}

#end-user {
    width: 100%;
    padding: 25px 25px 50px;
    box-sizing: border-box;
}

/*footer*/
footer {
    background-color: rgba(107, 142, 35, .5);
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 30px 5%;
    color: #3a3a3a;
}

/*batteries / biofuels / hydrogen pages*/
/*title bar*/
.title-bar {
    color: white;
    background: url('../images/landing-image.jpg') no-repeat center center; 
    padding: 1%;
   }

.title-bar h1 {
    margin-left: 13%;
    font-size: 350%;
}

.page-title {
    width: 75%;
}

img {
    width: 80%;
    border-radius: 20px;
}

.did-you-know {
    background-color: rgba(107, 142, 35, .5);
}

.list-box {
    background-color:rgba(237, 248, 218, .5);
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 25px;
}

.list-box li{
    list-style-type: none;
}

.pros-box i {
    color: green;
}

.cons-box i {
    color: red;
}

.cons-box {
    margin-bottom: 25px;
}

/*sign up page*/
#sign-up {
    color: #3a3a3a;
    margin-left: 10%;
}

#sign-up h3 {
    line-height: 300%;
}

.border {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    width: 300px;
    padding: 5px 5px;
    margin-bottom: 0.75rem;
}

.input {
    height: 20px;
}

.message {
    font-family: Montserrat, sans-serif, Arial;
    height: 150px;
}

#submit {
    color: white;
    background-color: #3a3a3a;
    font-size: 110%;

	border-radius: 5px;

    margin: 0.75rem;
	padding: 0.75rem;
}

